* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-image: url(Images/calendar.jpg);
	background-size: cover;
}

header {
	padding: 10px;
	height: 4vh;
	background-color: #88c0d0c5;
}

footer {
	display: flex;
	justify-content: center;
	background-color: #88c0d0c5;
	height: 5vh;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.txt_foot {
	color: white;
	margin-top:-5px;
}

a {
	text-decoration: none;
	color: none;
}

#intro {
	background-color: rgba(255, 255, 255, 0.8);
	width: 50vw;
	height: fit-content;
	padding: 10px;
	margin: auto;
	margin-top: 10vh;
	border-radius: 5px;
	box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.29);
	font-size: 20pt;
	text-align: center;
}

#box {
	background-color: rgba(255, 255, 255, 0.8);
	width: fit-content;
	height: fit-content;
	padding: 10px;
	margin: auto;
	margin-top: 10vh;
	border-radius: 5px;
	box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.29);
}

.txt_area {
	width: 30vw;
	height: 30vh;
	resize: none;
	border-radius: 5px;
	border-style: solid;
	border-color: #5073b8;
}

.input {
	width: 300px;
	height: 30px;
	border-radius: 5px;
	border-style: solid;
	border-color: #5073b8;
	padding: 5px;
}

.button {
	padding: 15px;
	width: fit-content;
	margin: auto;
	border-radius: 30px;
	border-style: none;
	background-color: #1098ad;
	font-size: 12pt;
	cursor:pointer;
}

.mb15 {
	margin-bottom: 15px;
}

.txt_center {
	text-align: center;
}

.center {
	justify-self: center;
}

#png_calendar {
	background-image: url(Images/icon_calendar.png);
	width: 250px;
	height: 250px;
	background-size: cover;
	margin-left: 12px;
}

.font15pt {
	font-size: 15pt;
}

.mp0 {
	margin: 0;
	padding: 0;
}

.ul_style_none {
	list-style: none;
}

.ul_style_none>li {
	margin-right: 20px;
}

.ul_style_none>li>a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.flexr {
	display: flex;
	flex-direction: row;
}

.flexc {
	display: flex;
	flex-direction: column;
}

.input_zone
{
	justify-content:space-between;
	margin:5px;
}

#greyScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

#err {
	color: red;
	margin: auto;
	background-color: white;
	border-radius: 10px;
	border: 5px solid black;
	width: 200px;
	padding: 3px;
	margin-top: 10%;
}

#err img {
	width: 20px;
	position: relative;
	margin-right: 2px;
	margin-bottom: 2px;
	float: right;
}

#nav_ul {
	position: absolute;
	top: 0;
	right: 0;
}

#include_table {
	margin: auto;
	justify-content: center;
}

.a_style {
    text-decoration: none;
    color: #ffca4b;
}
/* import */

.gradient-border:hover {
	transition: 0.1s;
	--borderWidth: 3px;
	position: relative;
}

.gradient-border:after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth) * 2);
	width: calc(100% + var(--borderWidth) * 2);
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	border-radius: calc(2 * var(--borderWidth));
	z-index: -1;
	animation: animatedgradient 3s ease alternate infinite;
	background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}